<div>
  <span> selected = {{selected?.id}} </span>
  <button (click)="cleanSelection()">Clear selected</button>
</div>

<p>
  <input [(ngModel)]="contentToInsert" placeholder="content">
  <button (click)="insertRoot()">Create and insert new block into document</button>
  <button (click)="insertUnderSelected()">Create and insert new block under selected block</button>
</p>

<p>
  <button (click)="deleteSelected()">Delete selected</button>
</p>

<p>
  <button (click)="duplicateSelected()">Duplicate selected</button>
</p>

<p>
  <button (click)="moveSelected()">Move selected under 0th item on 0th position</button>
  <button (click)="moveSelectedToRoot()">Move selected to root at 0th position</button>
</p>

<p>
  <input [(ngModel)]="newParentId" placeholder="new parent id">
  <input [(ngModel)]="newItemIndex" placeholder="new index under parent">
  <button (click)="moveToPosition()">Move to position</button>
</p>

<p>
  <button (click)="export()">Export</button>
  <textarea #output></textarea>
</p>

<app-block (selected)="selected = $event" *ngFor="let block of data" [block]="block"
           [selectedBlock]="selected"></app-block>
